on:
  push:
    branches:
      - main
  pull_request:

name: coverage

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Push to coveralls.io
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        run: |
          cargo install cargo-tarpaulin
          cargo tarpaulin --ciserver github-ci --coveralls $COVERALLS_REPO_TOKEN
